* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.containter{
    display: flex;    
    width: 100%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    background-color: #232A31;    
}

.navbar-container nav {
    display: flex;
    justify-content: space-between;
    width: 100%;    
}

.logo img {    
    height: 3rem;
    width: 3rem;
    padding: 1rem 2rem;    
}

.navbar-items {
    display: flex;    
    gap: 2.5rem;
    align-items: center;    
    text-transform: uppercase;
    padding: 1rem 2rem;
    right: 0;
}

.navbar-items ul {
    display: flex;
    right: 0;    
    gap: 1.5rem;
    z-index: 1;
    
}

.navbar-items li{
    display: flex;
    justify-content: right;    
    font-size: 1rem;
    list-style: none;    
}

.navbar-items a {        
    text-decoration: none;    
    color: #FFF;  
    font-weight: bold;    
}

.navbar-items a:hover {
    color: #EF3F29;
    font-weight: bold;
}

.default-btn {
    background-color: #2CC76A;
    padding: 1rem 2rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.default-btn:hover {
    background-color: #EF8F29;    
}

.main-banner{
    display: relative;
    background-image: url(../img/mainbanner.png);
    width: 100%;
    height: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.main-banner h1, p {    
    text-align: center;    
    color: #FFF;    
}

.main-banner h1 {
    padding: 12rem 0 0 0; 
    font-size: 3.5rem;    
}

.main-banner p {
    font-size: 2.5rem; 
}

.specialties-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: center;    
    justify-content: center;
    /*padding: 3rem 4rem;*/
    
    /*width: 45rem;*/
}

.specialties-container ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    /*padding: 1rem 1rem;*/
    /*border: 1px solid #000;*/
    width: 30%;
    margin-bottom: 2rem;
}

.specialties-container i {    
    margin-top: 2.5rem;
    font-size: 3.7rem;
    /*margin-bottom: 1rem;*/
}

.specialties-container li, h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;    
}

.specialties-container p {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    color: #232A31;    
    text-align: center;    
}

.fa-shield-halved {
    color: #2CC76A;
}

.fa-rocket {
    color: #EF3F29;
}

.fa-comments {    
    color: #EF8F29;
}

/* Planos e Preços */
.pricing-container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.pricing-container h1, p {
    text-align: center;
}

.pricing-container h1 {
    font-size: 2.3rem;
    padding: 1rem;
}

.pricing-container p {
    font-size: 1.3rem;
    color: #232A31;
    margin-bottom: 6rem;
}

.plans-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 2rem;    
    gap: 1rem;    
}

.plan {
    display: flex;
    flex-wrap: wrap;    
    font-size: 1rem;
    text-align: center;
    background-color: #e8e9ea;
    /*padding: 0 2rem;*/
    align-items: center;
    width: 275px;
    height: 437px;
    margin-bottom: 4.5rem;
}

.plan li {
    list-style: none;
    margin-bottom: 1.5rem;    
}

.price {
    display: flex;
    flex-wrap: wrap;
    background-color: #2CC76A;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #FFF;
    font-weight: bold;
    font-size: 1.2rem;  
    width: 120px;
    height: 120px;    
    align-items: center;
    margin: 5rem;
    justify-content: center;
    margin-top: -4rem;
    position: absolute;
}

.plan-name {
    display: flex;
    background-color: #232A31;    
    color: #FFF;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;        
    text-transform: uppercase;    
    padding: 4rem 0rem 2rem;
    width: 275px;    
}

.plan-btn {
    display: flex;
    background-color: #2CC76A;    
    color: #FFF;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;        
    text-transform: uppercase;    
    padding: 2rem 0rem 2rem;
    width: 275px;
    cursor: pointer;
}

.recommended {
    background-color: #EF3F29;
}

/* Buscador de Domínio */

.searchdomain-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background-color: #34454e;    
    padding: 4rem;
    line-height: 3rem;
}

.searchdomain-container h2 {
    color: #FFF;
    font-size: 2.5rem;
}

.searchdomain-container p {
    color: #D5D5D5;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.searchdomain-container form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;    
}

.searchdomain-container input[type=text] {
    padding: 1.5rem;
    border: none;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    margin-bottom: 1.5rem;
}

.searchdomain-container input[type=text]::placeholder {
    font-size: 1.2rem;    
    align-items: center;
}

.searchdomain-container input[type=submit] {
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    margin-bottom: 1rem;
    color: #FFF;
    background-color: #2CC76A;
    font-size: 1.5rem;
    font-weight: bold;
    width: 15rem;
    align-items: center;
    margin: 0 auto;
}

.contact-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;    
    padding: 2rem;
    /*line-height: 3rem;*/
}

.contact-container h2 {    
    color: #000;
    font-size: 2rem;
}

.contact-container p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #70747A;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.contact-container form {
    /*display: flex;*/
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /*gap: 2rem;    */
    line-height: 2rem;
}

.contact-container input[type="name"], input[type="email"]{
    padding: .7rem;
    border: 1px solid #CCC;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;    
    /*margin: 0 .5rem;*/
    width: 200px;
    margin-bottom: 1rem;
}

.contact-container input[type="name"]::placeholder, input[type="email"]::placeholder {
    font-size: 1rem;
    /*padding: 0 .3rem;*/
}

.contact-container textarea {
    display: flex;    
    flex-wrap: wrap;    
    margin: 0 auto;
    width: 470px;
    height: 150px;
    border: 1px solid #CCC;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;    
}

.contact-container textarea::placeholder {
    font-size: 1rem;
    padding: 1rem 1rem;
}

.contact-container input[type="submit"] {
    margin-top: 1rem;
    padding: .5rem 4rem;
    background-color: #2CC76A;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #FFF;
    font-size: 1rem;
}

footer {
    text-align: center;    
}

footer p {
    color: #70747A;
    font-weight: bold;
    margin-bottom: 2rem;
}

/* Ícone MENU */

.icon {    
    display: flex;
   /* height: 3rem;
    width: 3rem;
    /*padding: 1rem 2rem;*/
    margin-right: 1.5rem;
}

.mobile-menu-icon {
    display: flex;
    background-color: #232A31;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu-icon img {    
    height: 3rem;
    width: 3rem;
    padding: 1rem 2rem;    
}

.logo-mobile img {    
    height: 3rem;
    width: 3rem;
    padding: 1rem 2rem;    
}

.logo-mobile {
    background-color: #232A31;
}

.mobile-menu-icon, #menu {
        display: none;
    }

#menu {
        display: flex;
        background-color: #EF3F29;
        top: 1rem;      
        right: .5rem;
        position: absolute;
        /*height: 3rem;
        width: 3rem;*/
        padding: 1rem 1rem;
        /*font-size: 2rem;*/
        /*padding: 1rem;*/        
        font-size: 1.2rem;
        /*padding: 1rem 1rem;*/
        align-items: center;        
        /*margin-right: 2.1rem;        */        
}


#closemenu {
        top: 1.2rem;
        background-color: #EF3F29;      
        right: 2rem;
        position: absolute;        
        font-size: 1.2rem;
        padding: 1rem 1rem;
        text-align: center;
        align-items: center;
        z-index: 2;    
}


/* MOBILE */
.mobilenavbar {
    display: flex;
    flex-direction: column;
    left: 100%;
    gap: 1rem;
    background-color: #232A31;    
    justify-content: space-between;    
}

.navbar-list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;    
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin-bottom: .5rem;   
}

.navbar-list li {
    display: flex;  
    list-style: none;    
}

.navbar-list a {
    text-align: center;
    text-decoration: none;
    color: #FFF;    
}

.default-btn-mobile {
    display: flex;    
    background-color: #2CC76A;
    padding: .5rem 2.5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;    
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    /*line-height: 3rem;*/
    margin: 0 auto;

}

.mobilenavbar, .logo-mobile, #closemenu {
    display: none;
}

/* Responsivo */

/*@media screen and (max-width: 3200px){
    .mobilenavbar, .icon, #menu, #closemenu, .mobilelogo, .mobilenavbar-items, .mobielbtnlogin {
        display: none;
    }
}*/

@media screen and (max-width: 475px){

    body {
        overflow-x: hidden;
    }

    i{
        font-size: 2rem;        
    }

    .navbar-container, .logo, .navbar-items, .default-btn {
        display: none;      
    }

    .mobile-menu-icon, #menu {
        display: block;
    }



    .open {
        display: block;    
    }

    .mobilenavbar {
    display: flex;
    flex-direction: column;
    left: 100%;
    gap: 1rem;
    background-color: #232A31;    
    justify-content: space-between;    
}

.navbar-list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;    
    text-transform: uppercase;
    padding: 1rem 2rem;    
}

.navbar-list ul {
    display: flex;
    
}

.navbar-list li {
    display: flex;  
    list-style: none;    
}

.navbar-list a {
    text-align: center;
    text-decoration: none;
    color: #FFF;
}

.default-btn-mobile {    
    margin-top: 1rem;
    background-color: #2CC76A;
    padding: .5rem 2.5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;    
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1rem;
    width: 2.5rem;

}
  

    /*ESSE QUE ESTÁ VALENDO */
    .mobilenavbar, .logo-mobile, #closemenu {
        display: none;
    }

    /*.mobilenavbar, .icon, #closemenu, .mobilelogo, .mobilenavbar-items, .mobielbtnlogin {
        display: block;
        z-index: 1;
    }*/





  .default-btn-mobile {
    justify-content: center;
    margin-top: 1rem;
    background-color: #2CC76A;
    padding: .5rem 2.5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;    
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;  
    /*line-height: 1rem;*/
    margin: 0 auto;    
}


        .main-banner{    
        background-image: url(../img/mainbanner.png);
        width: 100%;
        height: 350px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 1.5rem;
        z-index: -1;
    }

    .main-banner h1, p {    
        text-align: center;    
        color: #FFF;
        z-index: -1; 
    }

    .main-banner h1 {
        display: relative;
        padding: 7rem 0 0 0; 
        font-size: 2.5rem;    
    }

    .main-banner p {
        display: relative;
        font-size: 1.5rem; 
    }

    .specialties-container {
        display: flex;
        flex-direction: column;        
        text-align: center;    
        justify-content: center;
        gap: 0;
    }

    .specialties-container ul {
        display: flex;
        flex-direction: column;            
        width: 100%;
        gap: .5rem;   
    }

    .specialties-container i {            
        font-size: 2.7rem;
        margin: 0;
        gap: 0;
        margin-top: 0;
    }

    .specialties-container li, h3 {
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        list-style: none;    
    }

    .specialties-container p {
        display: flex;             
        color: #232A31;    
        text-align: center;        
        width: 100%;
        margin-bottom: 0;
        padding: 0;
    }



    /* Planos e Preços */
    .pricing-container {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        gap: 0;    
    }

    .pricing-container h1, p {
        text-align: center;
    }

    .pricing-container h1 {
        font-size: 2rem;
        padding: 1rem;
    }

    .pricing-container p {
        font-size: 1.2rem;
        color: #232A31;
        margin-bottom: 4rem;
    }

    .plans-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /*padding: 1rem 2rem;    */
        gap: 1rem;    
    }

    .plan {
        display: flex;
        flex-wrap: wrap;    
        font-size: 1rem;
        text-align: center;
        background-color: #e8e9ea;
        /*padding: 0 2rem;*/
        align-items: center;
        width: 100%;
        height: 437px;
        margin-bottom: 4.5rem;
    }

    .plan li {
        list-style: none;
        margin-bottom: 1.5rem;    
    }

    .price {
        display: flex;    
        background-color: #2CC76A;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        color: #FFF;
        font-weight: bold;
        font-size: 1.2rem;  
        /*width: 120px;*/
        /*height: 120px;    */
        align-items: center;
        /*margin: 27%;*/
        justify-content: center;
        margin-top: -4rem;
        position: absolute;
    }

    .circle {
        width: 30%;
        margin-left: 27%;
    }

    .plan-name {
        display: flex;
        background-color: #232A31;    
        color: #FFF;
        font-size: 1.2rem;
        font-weight: bold;
        align-items: center;
        justify-content: center;        
        text-transform: uppercase;    
        padding: 4rem 0rem 2rem;
        width: 100%;    
    }

    .plan-btn {
        display: flex;
        background-color: #2CC76A;    
        color: #FFF;
        font-size: 1.2rem;
        font-weight: bold;
        align-items: center;
        justify-content: center;        
        text-transform: uppercase;    
        padding: 2rem 0rem 2rem;
        width: 100%;
        cursor: pointer;
    }

    .plan ul {
        width: 100%;
    }

    .recommended {
        background-color: #EF3F29;
    }

    /* Buscador de Domínio */

    .searchdomain-container {
        display: flex;
        flex-direction: column;    
        text-align: center;
        justify-content: center;
        background-color: #34454e;        
        line-height: 2rem;    
    }

    .searchdomain-container h2 {
        color: #FFF;
        font-size: 1.7rem;
    }

    .searchdomain-container p {
        color: #FFF;
        font-size: 1.2rem;
            
    }

    .searchdomain-container form {
        display: flex;
        flex-direction: column;
        width: 100%;     
    }

    .searchdomain-container input[type=text] {
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        margin-bottom: 1.5rem;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        margin-bottom: 1rem;
        padding: 1rem 0;
    }

    .searchdomain-container input[type=text]::placeholder {
        font-size: .9rem;    
        align-items: center;
        text-align: center;
        width: 100%;    
    }

    .searchdomain-container input[type=submit] {
        padding: 1rem 0;
        border: none;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
        margin-bottom: 1rem;
        color: #FFF;
        font-weight: bold;
        background-color: #2CC76A;
        font-size: 1.2rem;
        font-weight: bold;
        width: 100%;
        align-items: center;
        margin: 0 auto;
        text-transform: uppercase;
    }



    .contact-container {
    display: flex;
    flex-direction: column;    
    text-align: center;        
    line-height: 2rem;    

    }

    .contact-container form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;        
        width: 100%;
        gap: 1rem;
        line-height: 1rem;        
    }

    .contact-container input[type="name"], input[type="email"]{
        display: flex;        
        padding: .7rem 2rem;
        border: 1px solid #CCC;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;    
        margin: 0 .5rem;
        width: 100%;
        margin-bottom: 1rem;
    }


    .contact-container textarea {
        display: flex;        
        margin: 0 auto;        
        height: 150px;
        border: 1px solid #CCC;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px; 
        
    }

    .open {
        display: block;
    }


}






